body {
  background: url("https://michiyoyo.github.io/meet/static/media/gradient.fdf2fd28.webp")
    no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}
.content {
  text-align: center;
  max-width: 50%;
}

@media screen and (max-width: 500px) {
  .content {
    max-width: 90%;
  }
}

.header h1 {
  color: #fff !important;
  font-size: 46px;
}

h2,
p {
  color: #fff;
}
