.Alert {
  width: max-content;

  p {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;

    @media screen and (max-width: $small) {
      font-size: 12px;
    }
  }
  &.info {
    position: absolute;
    top: -112px;
    left: 50%;
    transform: translateX(-50%);
    p {
      border-bottom: 3px solid #0b4eb2;
    }
  }
  &.error {
    margin: auto;
    height: 30px;
    p {
      border-bottom: 3px solid #b2184c;
    }
  }
  &.warning {
    p {
      padding: 5px 10px;
      border-bottom: 3px solid #c97116;
      position: absolute;
      top: -22px;
      right: 50%;
      transform: translateX(50%);
      margin-bottom: 0 !important;
    }
  }
  @media screen and (max-width: $small) {
    max-width: 340px;
  }
}
