html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: $text-color;
  font-family: $body-font;
  background: url(../images/gradient.jpg) no-repeat center center;
  background-size: cover !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: $title-color !important;
  font-family: $heading-font;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 15px;
}

p,
label,
span,
li {
  color: $text-color !important;
}

p {
  margin: 5px 0;
  margin-bottom: 10px;
  font-size: 15px;
}

a {
  color: #fff !important;
  font-size: 15px;
  margin-bottom: 10px;
  display: inline-block;
  &:hover {
    color: $light-purple;
    box-shadow: none;
    text-shadow: 0px 0px 10px $light-purple;
  }
}

ul {
  padding: 0;
  list-style: none;
}

#root {
  z-index: 1;
}
