.event-list-wrapper {
  .EventList {
    max-height: 850px;
    overflow: scroll;
    background: #fdb0601a;
    border-radius: 15px;
    @media screen and (max-width: $small) {
      padding: 10px;
    }
    li {
      margin-bottom: 30px;
      @media screen and (max-width: $small) {
        padding: 0;
      }
    }
  }
}
