.event-list-row {
  position: relative;
  .Alert.info {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.event-list-wrapper {
  .EventList {
    li {
      display: flex;
      flex-direction: column;
    }
    max-height: 850px;
    overflow: scroll;
    background: #fdb0601a;
    border-radius: 15px;
    padding: 36px 20px;
    @media screen and (max-width: $small) {
      padding: 40px 0;
      background: transparent;
    }
    li {
      margin-bottom: 30px;
      @media screen and (max-width: $small) {
        padding: 0;
      }
    }
  }
}
