footer {
  background: #00000042;
  flex: 1 1 auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .row {
    padding: 10px 20px;
    @media screen and (max-width: $small) {
      padding: 20px;
    }
  }
  p,
  a {
    font-size: 12px;
  }

  p {
    margin-bottom: 0;
  }
}
